on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: "${{ github.event.pull_request.head.ref }}"
          repository: "${{ github.event.pull_request.head.repo.full_name }}"
          fetch-depth: 0
      - name: test action
        uses: ./
        with:
          github_token: "${{ secrets.KERRYS_LEARNING_LAB_TOKEN }}"
